/* GR ---------- MAIN VARS ----------- */
:root {
  --color-primary: #363636; /* #394A59; */
  --color-primary-light: #59758d;
  --color-secondary: #00aae4; /* #36BF7F; */
  --color-secondary-light: #00aae4; /* #75d3a7; */
  --color-secondary-dark: #464646; /* #1C5E3E; */
  --color-secondary-pale: #d9ebf1; /* #def4e9; */
  --color-accent: #D96666;
  --color-shadow-light:  #939393; /* #1C5E3E; */
  --color-shadow-dark:  #767676; /* #1C5E3E; */
}