/* GR ----- FOOTER -----  */

.footer {
  background-color: #394a59;
  color: #fff;
  border-bottom: .5rem solid var(--color-secondary);
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus-visible {
  color: var(--color-secondary);
}

.footer .logo {
  display: flex;
  gap: .75rem;
  align-items: center;
}

.footer .logo__img {
  width: 4rem;
}

.footer .logo__text {
  font-size: 1.525rem;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  margin: 0;
  border-left: .124rem solid var(--color-secondary);
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

@media only screen and (min-width: 45em) {
  .footer .container {
      flex-direction: row;
  }

  .footer .logo {
      flex: 2 0;
      align-items: flex-start;
  }

  .footer nav,
  .footer small {
      flex: 1 0;
  }
}